@import "../css/demo_page.css";
@import "../css/demo_table.css";
body{
    margin: 0 20px 0px 20px;
    /*background-image: url('../images/Background_Body.png');*/
    background : #1875ff;
    background: rgba(204,234,245,1);
    background: -moz-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,234,245,1)), color-stop(81%, rgba(204,234,245,1)), color-stop(100%, rgba(204,234,245,1)));
    background: -webkit-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);
    background: -o-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);
    background: -ms-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);

}
a:hover {
    text-decoration: none;
}
h3{
    margin-bottom: -20px;
}
hr{
    border: 1px solid #000;
}
.sidebar-costum{
    /*height: 150vh;*/ 
    /*min-height: 100%;*/
    /*    position: relative;*/
    background: #005580;
    margin-right: -15px !important;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.75);


}
.sidebar-top{
    background-color: #002a80;
    color: white;
    height: 70px;
}
.header{

    /*background-color: #ffcc33;*/
    /*border: 1px solid #E3E3E3;*/
    border-radius: 4px;
    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;*/
    /*clear: both;*/
    /*padding-bottom: 5px;*/
    height: 60px;
    /*border-bottom: 4px solid #006dcc;*/

}
.clear{
    clear: both;
}
/*.row-fluid{
    background: #ffcc33;
}*/

.the-contents{
    margin-left: -20px;
    /*margin-top: 25px;*/


    -webkit-box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.75);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.all-contents{
    /*background-color: #ffcc33;*/
    margin-top: 0px;

}
.accordion-group{
    margin-bottom: 5px;
    background: #005588;
    border: none;
}
.info-login{
    /*background: #006dcc;*/
    text-align: right;
    margin-top: 10px !important;
    padding-top:5px;
    padding-left:10px ;
    padding-right:10px;
}
.logout{
    margin-left: 20px;
    color:#ffff00;
}
.logout:hover{
    margin-left: 20px;
    color:#ff6600;
}
.logo-ad{
    /*background: #E3E3E3;*/
    /*    margin-left: -40px !important;
        margin-top: 45px;*/
}
@font-face {
    font-family: "nouvelle_vague_final";
    src: url(../font/nouvelle_vague_final.ttf);
}
.title-admin{
    font-family: nouvelle_vague_final; 
    font-size: 30px;
    margin-top: 10px !important;
    color: #003399;

}
.img_login{
    padding-right: 20px;
    float: left;
}
.submenu{
    background: #ffcc33;
    line-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;

}
.submenu a{
    color: #000;
    padding-left: 10px;
    padding: 5px;


}
.submenu a:hover {
    color: #ffffff;
    padding-left: 10px;
}
.submenu:hover{
    background: #006dcc;

}
.filter-table{
    background-color: #CCC;
    margin-bottom: 2px;
}
.filter-table table th{
    text-align: center;
    vertical-align: middle !important;
}
.filter-table table input[type=text]{
    width: 100px;
}

.mesg-status-barang{
    display: block;
    background: #ffcc33;
    margin-bottom: 20px;
    padding: 5px;
}
.mesg-status-barang span{
    color: green;
    font-size: 18px;
    font-weight: bolder;
}
#shortcuts{
    margin-top: 10px;
    text-align: center;
}
ul#menu-pintas{
    color: #006dcc;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: -30px;
    text-align: center;
}
#menu-pintas li {
    display: block;
    float:left;
    margin-left: 5px;
}
#menu-pintas li a{
    display: block;
    width: 50px;
    height: 40px;
    border-radius: 5px;
}
.pagination a{
    color: #0044cc;
    font-weight: bolder;
}

table#example tbody td{
    padding: 2px 5px 2px 5px !important;
}
table#example tbody input[type=text],
table#example tbody input[type=password],
table#example tbody input[type=email],
table#example tbody textarea{
    clear: both !important;
    border: none !important;
    background: transparent !important;
    margin: opx !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}
table#example tbody textarea{
    height: 20px;
}
table#example tbody select{
    clear: both;
    border: none !important;
    background: transparent !important;
    margin: opx !important;
    box-shadow: none !important;
}
table#example tbody input[type=text]:focus,
table#example tbody input[type=password]:focus,
table#example tbody input[type=email]:focus,
table#example tbody textarea:focus{
    border: 1px solid #555 !important;
    background: transparent;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 5px;
/*    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;*/
}

.navbar {
    margin-bottom: 0px;
    overflow: visible;
    color: #FFF;
}
.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #477EDA;
    background-image: linear-gradient(to bottom, #003399, #477EDA);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
.navbar .nav > li > a {
    float: none;
    padding: 10px 15px;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFF;
}
.navbar .nav > li {
    margin-bottom: 0px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
tr.list-ceck,
.table-striped tbody tr.list-ceck:nth-child(2n+1) td {
    background: #66cc00 !important;
}
