@page {
    margin: 0;
    padding: 0;
    width: 20.50cm;
    height: 10.10cm;
}
@page : top {
    margin: 0;
}
* {
    clear: both;
}
body {
    margin: 0;
    padding: 0;
    line-height: 12pt;
    white-space: nowrap;
    letter-spacing: 0.2pt;
    color: #000;
    font-family: "Courier New", Georgia, Serif;
    font-size: 12pt;
}
/*Header*/

h2 {
    color: #000;
    font-size: 25px;
}
.post .entry h2 {
    font-size: 20px;
}
/* Links */

a:link, a:visited {
    background: transparent;
    color: #333;
    text-decoration: none;
}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 11px;
}
a[href^="http://"] {
    color: #000;
}
/*Image*/

img, img a, .more-link a {
    border: none;
}
.wrapper-print {
    width: 21.40cm;
    height: 10cm;
    display: box;
    background: white;
    margin: 0;
    padding: 0;
    page-break-before: always;
}
#box-print {
    position: absolute;
}
label, .label-fields, .table-print {
    position: absolute;
    width: auto;
    text-wrap: none;
}
table {
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;
}
.table-print td {
    height: 0.3cm;
}
@media screen {
    body {
        font-size: 12pt;
        background: silver;
    }
    .table-print td {
        border: 1px solid;
    }
    .wrapper-print {
        margin: 5px auto;
    }
}
@media print {
    @page {
        margin: 0;
        padding: 0;
        width: 20.50cm;
        height: 10.10cm;
    }
    @page : top {
        margin: 0;
    }
    * {
        clear: both;
    }
    body {
        font-family: "Courier New", Georgia, Serif;
        /*font-family: "Sans Serif";*/
        margin: 0;
        padding: 0;
        line-height: 12pt;
        white-space: nowrap;
        letter-spacing: 0.2pt;
        color: #000;
        font-size: 12pt;
    }
    /*body {
		font-family: "Courier New", Georgia, Serif;
		background: white;
		letter-spacing:0.5pt;
	}*/
    .table-print td {
        border: none;
    }
    .wrapper-print {
        margin: 0;
        padding: 0;
        width: 21.40cm;
        height: 5.1cm;
    }
    #box-print {
        position: absolute;
    }
    label, .label-fields, .table-print {
        position: absolute;
        width: auto;
        text-wrap: none;
    }
}