.edit-table td{
	padding: 2px !important;
	vertical-align: middle;
}

.text-center{
	text-align: center;
}

.edit-table input,
.edit-table select{
	width: 100% !important;
}

.input-group-btn.select{
	width: auto !important;
}
.input-group-addon.filter{
	background: #eee !important;
	color: #555 !important;
}

.text-right{
	text-align: right !important;
}