/*@import "../../media/css/demo_page.css";
@import "../../media/css/demo_table.css";*/
/*body{
    margin: 15px 20px 0px 20px !important;
}*/
body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background : #1875ff;
   background: rgba(204,234,245,1);
    background: -moz-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,234,245,1)), color-stop(81%, rgba(204,234,245,1)), color-stop(100%, rgba(204,234,245,1)));
    background: -webkit-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);
    background: -o-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);
    background: -ms-linear-gradient(left, rgba(204,234,245,1) 0%, rgba(204,234,245,1) 81%, rgba(204,234,245,1) 100%);
}
/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 360px;
}
.container-narrow > hr {
    margin: 30px 0;
}
.message {
    color: #FFF;
    background: #ff3333 ;
    padding: 2px;
    border-radius: 5px;
    margin-top: -20px;
    width: 330px;
   
}
.log {
    width: 300px;
    margin-top: 80px;
    -webkit-box-shadow: 1px 1px 55px 0px rgba(240,211,240,1);
    -moz-box-shadow: 1px 1px 55px 0px rgba(240,211,240,1);
    box-shadow: 1px 1px 55px 0px rgba(240,211,240,1);
    background:#ffcc33;
}

a:hover {
    text-decoration: none;
}
h3{
    margin-bottom: -20px;
}
hr{
    border: 1px solid #000;
}




/*
@media (min-width: 980px) {
.sidebar-costum{
    margin-right: -34px !important;
}    
.the-contents{
    margin-left : 0px !important;
    width: 76.85% !important;
    *width: 76.95% !important;
    
  }
}


@media (min-width: 480px) and (max-width: 768px) {
    .the-contents{
    margin-left : 0px !important;
    width: 75.5% !important;
    *width: 76.5% !important;
    
  }
}*/
